# Node
node_modules/
lib/
*.log
npm-debug.log
yarn-debug.log
yarn-error.log

# Native
ios/Frameworks/OnramperSDK.xcframework/
ios/Frameworks/OnramperSDK.xcframework.zip
ios/build/
ios/Pods/
android/build/
android/.gradle/

# Expo example app
example-expo/node_modules/
example-expo/ios/Pods/
example-expo/ios/build/
example-expo/android/build/
example-expo/android/.gradle/
example-expo/android/app/build/
example-expo/.expo/
example-expo/.bundle/
example-expo/vendor/
example-expo/env.local.ts

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IJ
.classpath
.cxx
.gradle
.idea
.project
.settings
local.properties
android.iml
android/app/libs
android/keystores/debug.keystore

# Expo
.expo/*

# OS
.DS_Store
.vscode/
jsconfig.json

# Local secrets
.env
.env.local
example-expo/.env
example-expo/.env.local
example/env.local.ts
